header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') b5500
        .nav-collapse.collapse
          ul.nav
            li
              a(href="/mapa/", title="Ver as conexões em um mapa") Mapa
            li
              a(href="/cidades/", title="Ver a lista de cidades") Cidades
            li
              a(href="/estatísticas/", title="Estatísticas de conexão entre as cidades") Estatísticas
            li
              a(href="/sobre/", title="Sobre este projeto") Sobre