extends layout

block content
  h1= title
  p Esta é uma aplicação que monitora a existência de conexões roteáveis entre cidades brasileiras no OpenStreetMap. 
  p A posição das cidades é extraída do OpenStreetMap, como descrito aqui. 
  p Depois são verificadas as conexões entre cada cidade com as outras #{city_connections_depth} mais próximas.
  if city_qty == 0 
    p 
      | Parece que o banco de dados está vazio, e aí não dá pra gerar o mapa. Clique 
      a(href='popular') aqui
      |  para tentar populá-lo. 
  else
    p E aí sai este mapa: