extends layout

block content
  h1 Populando o B5500
  if is_updating
    p Uma atualização está em execução. 
  
  p Uma nova atualização de cidades ser solicitada #{update_allowed_in}.

  p Voltar para o início.
  
  p Caso a sua cidade não esteja no mapa, consulte a ajuda para saber como adicioná-la.
  