{% include '../includes/head.html' %}

  <body>

	<img class="bg" src="img/jumbo-1.jpg"/>

	<div class="masthead">
		<!-- style="background-image: url('img/jumbo-1.jpg'); background-size: cover; background-position: bottom;" -->

		<div class="container">
			<h1><span>Transporte aberto</span></h1>
			<p>
				<span>Acesse dados sobre a infra-estrutura de transportes nas cidades,<span class='spacer'></span></br>
				<span class='spacer'></span>produzidos pela comunidade do OpenStreetMap.</span>
			</p>

				<p.link><span><a href='/docs'>Como mapear com o OpenStreetMap</a></span></p>
				<p.link><span><a href='/cities'>Lista de cidades</a></span></p>
				<p.link><span><a href='/about'>Sobre este projeto</a></span></p>

			
		</div>
		
	</div>
</html>
