extends ../layouts/default

block head

block main
  - if (!cities)
    .alert.alert-info
      | Primeira vez rodando esta plataforma? Acesse este 
      b
        a(href='/install') link
      |  para carregar informações iniciais.
block content
  .jumbotron
    h1 Ligue os pontos
    p Ajude a mapear os caminhos do Brasil. Este projeto monitora automaticamente conexões entre as cidades brasileiras, mostrando locais sem conexão ou que tem rotas tortuosas.
    p Conheça a metodologia e o código-fonte por trás projeto.

  - if (cities)
    p
    p
      | Conectadas:     
      - each city in cities
        a(href='cidades/'+city.ibge_id title=city.fullName())
          =city.name
         | 