
{% extends '../layouts/default.html' %}

{% block main %}
  <h1>Mapazonia Roads</h1>
{% endblock %}

{% block content %}
  {% if (links.length) %}

    <table class="u-full-width">
      <thead>
        <tr>
          <th>Route</th>
          <th>Status</th>
          <th>Verified at</th>
        </tr>
      </thead>
      <tbody>
        {% for link in links %}
          <tr>
            <td>
              <a href="{{link.from.getViewInOSRMLink(link.to)}}" target='_blank'>
                {{ link.from.name }} ({{ link.from.uf }}) to {{ link.to.name }} ({{ link.to.uf }})
              </a>
            </td>
            <td>{{ link.status }}</td>
            <td>{{ moment(link.updatedAt).fromNow() }}</td>
            <h3>
          </tr>
        {% endfor %}
      </tbody>
    </table>



    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}
  {% else %}
    <h4 class="muted">
      No links.&nbsp;
    </h4>
  {% endif %}
{% endblock %}
