extends ../layouts/default

block main

block content

	.content

		h2 Cidades e suas Rotas 

		- if (typeof(cities) == 'undefined') 
			p Não há cidades!!


		- if (cities) 
			div
				table(class="table table-hover")
					thead
						tr
							th Estado
							th Cidade
							th.text-center Certas
							th.text-center Tortas
							th.text-center Quebradas
					tbody
						- each city in cities
							tr
								td
									a(href='/estados/'+city.state)
										=city.state
								td
									a(href='/cidades/'+city._id)
										=city.name
								td.text-center
										=city.stats.totalConnected
								td.text-center
										=city.stats.totalTortuous
								td.text-center
										=city.stats.totalInexistent