extends ../layouts/default

block main
  h1= city.fullName()

block content

  - if (city.nearCities.length > 0)
    p 
      | % de conexão:
      =city.getConnectivity()
    table.table
      thead
        tr
          th Cidades Próximas
          th Distância          
          th Ida
          th Volta
      tbody
        - each checkedCity in city.nearCities
          tr
            td
              a(href='/cidades/'+checkedCity.id.ibge_id, title='Ver esta cidade')=checkedCity.id.fullName()
            td
              =checkedCity.straightDistance
              |  km
            td
              a(href=city.getViewInOSRMLink(checkedCity.id))            
                - if (checkedCity.routeForwardDistanceRatio > 0)
                    =checkedCity.routeForwardDistanceRatio
                    |%
                - else
                  | Não há conexão!
            td
              a(href=checkedCity.id.getViewInOSRMLink(city))
                - if (checkedCity.routeBackwardDistanceRatio > 0)
                    =checkedCity.routeBackwardDistanceRatio
                    |%
                - else
                  | Não há conexão!                

  - else
    p 
      | Não foram encontradas as cidades próximas, experimente 
      a(href='/cidades/'+city.ibge_id) atualizar.
      