extends ../layouts/default

block main
  h1= city.fullName()

block content

  - if (city.connections.length > 0)
    - each connection in city.connections
      p
        a(href='/cidades/'+connection.to.ibge_id, title='Ver esta cidade')=connection.to.fullName()
      p
        | Ida (%)
        =connection.routeForwardDistanceRatio
        | Volta (%)
        =connection.routeBackwardDistanceRatio
        
  - else
    p 
      | Não foram encontradas as cidades próximas, experimente 
      a(href='/cidades/'+city.ibge_id) atualizar.
      