
{% extends '../layouts/default.html' %}

{% block main %}
  <h1>OSM Roads</h1>
{% endblock %}

{% block content %}
  {% if (links.length) %}

    <table class="u-full-width">
      <thead>
        <tr>
          <th>A</th>
          <th>B</th>
          <th>A 〰 B</th>
          <th>B 〰 A</th>
          <th>Status</th>
          <th>Verified at</th>
        </tr>
      </thead>
      <tbody>
        {% for link in links %}
          <tr>
            <td>
              {{ link.A.name }} ({{ link.A.uf }})
            </td>
            <td>
              {{ link.B.name }} ({{ link.B.uf }})
            </td>
            <td>
              <a href="{{link.A.getViewInOSRMLink(link.B)}}" target='_blank'>
                {{ link.tortuosityAB }} %
              </a>
            </td>
            <td>
              {{ link.tortuosityBA }} %
            </td>
            <td>{{ moment(link.updatedAt).fromNow() }}</td>
            <h3>
          </tr>
        {% endfor %}
      </tbody>
    </table>



    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}
  {% else %}
    <h4 class="muted">
      No links.&nbsp;
    </h4>
  {% endif %}
{% endblock %}
