!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  include ../includes/head
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  body
    .wrapper
      include ../includes/header
      .alert
        |  Você está abrindo este site em um dispositivo móvel!
      .container
        .main-content
          .main-head
            block main
          block content
      .push
    include ../includes/footer
    include ../includes/foot
